@media print {
  body {
    visibility: hidden;
    width: 100%;
    height: 100%;
    -webkit-print-color-adjust: exact;
    -moz-print-color-adjust: exact;
    -ms-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .print-content,
  .print-content {
    visibility: visible;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  @page {
    size: A4 landscape !important;
    margin: 0;
  }

  .tables_print td {
    padding: 10px;
  }
  .tables_print th {
    padding: 10px;
  }
  .page-break {
    display: block;
    page-break-before: always;
  }
  .spacer_print {
    margin-top: 40px;
  }
  #pdf-content {
    position: relative;
    top: 0;
    margin-top: -90px;
  }

  #pdfFooter {
    position: fixed;
    bottom: 0;

    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    box-sizing: border-box;
    visibility: visible;
  }

  /* #pdfHeader, #pdfFooter {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    padding: 10px;
    background-color: white;
    box-sizing: border-box;
    visibility: visible; /* Ensure visibility */

  /* #pdfHeader {
    top: 0;
  }


  #pdf-body, #pdf-body-2 {
    position: relative;
    page-break-inside: avoid;
   top : 25px;
    }
  #pdf-body-2 {
    margin-top: 100px; /* Adjust this value as needed to ensure it does not overlap with the header */
}
